header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 1340px;
  height: 109px;
  margin-top: 92px;
  margin-right: auto;
  margin-left: auto;
  color: #000;
  font-weight: 400;
  font-size: 18px;
  font-style: normal;
  line-height: 24.3px;
}

nav {
  width: 388px;
  height: 23px;
}

.nav_list {
  display: flex;
  justify-content: space-between;
  text-underline-offset: 4px;
  list-style-type: circle;
}

ul li:first-child {
  list-style-type: none;
}

.nav_list_first {
  text-decoration: none;
}

.contact_details {
  width: 240px;
  height: 97px;
  text-underline-offset: 4px;
}

.logo_header {
  width: 148px;
  height: 105px;
  margin-right: 148px;
  margin-bottom: 4px;
}

.contact_info {
  list-style-type: none;
}

.jambotron {
  width: 1440px;
  height: 757px;
  margin-top: 92px;
  margin-right: auto;
  margin-left: auto;
  background-image: url(../images/cover.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.jambotron_overlay {
  width: 1440px;
  height: 757px;
  background: rgba(0, 0, 0, 0.6);
}

.jambotron_title {
  display: flex;
  flex-direction: column;
  width: 1340px;
  height: 355px;
  margin-right: auto;
  margin-left: auto;
  padding-top: 165px;
}

h1 {
  color: #fff;
  font-weight: 700;
  font-size: 100px;
  font-style: normal;
  line-height: 115%;
  text-transform: uppercase;
}

.title1_wrapper {
  display: flex;
  width: 1340px;
  height: 115px;
}

.sh_text {
  letter-spacing: 30px;
}

.ln_text {
  letter-spacing: 60px;
}

.title2_wrapper {
  display: flex;
  justify-content: center;
  width: 1340px;
  height: 100px;
  margin-top: 13px;
}

.title3_wrapper {
  display: flex;
  justify-content: end;
  width: 1340px;
  height: 100px;
  margin-top: 20px;
}

.jambotron_bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 968px;
  height: 52px;
  margin-top: 300px;
  margin-left: 422px;
}

.jambotron_bottom_text_wrapper {
  display: flex;
  width: 633px;
  height: 28px;
  color: #fff;
  font-weight: 400;
  font-size: 22px;
  font-style: normal;
  line-height: 28px;
  text-align: center;
  text-transform: uppercase;
  word-spacing: 18px;
  white-space: nowrap;
}

.jambotron_bottom_text2 {
  margin-left: 21px;
}

.jambotron_bottom_text3 {
  margin-left: 20px;
  word-spacing: 22px;
}

.jambotron_button {
  width: 257px;
  height: 52px;
  border: 1px solid #fff;
  color: #fff;
  font-weight: 400;
  font-size: 22px;
  font-style: normal;
  line-height: normal;
  text-align: center;
  text-transform: uppercase;
  background-color: transparent;
}

.lots {
  width: 1340px;
  height: 579px;
  margin-top: 180px;
  margin-right: auto;
  margin-left: auto;
}

h2 {
  color: #000;
  font-weight: 700;
  font-size: 40px;
  font-style: normal;
  line-height: normal;
  text-transform: uppercase;
}

.lot_section_title {
  margin-left: 40px;
}

.lots_card {
  display: flex;
  flex-direction: row;
  gap: 25px;
  width: 1340px;
  height: 450px;
  margin-top: 27px;
  margin-bottom: 31px;
}

.card1 {
  width: 430px;
  height: 450px;
  background-image: url(../images/card-lot-01.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.card2 {
  width: 430px;
  height: 450px;
  background-image: url(../images/card-lot-02.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.card3 {
  width: 430px;
  height: 450px;
  background-image: url(../images/card-lot-03.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.card_overlay {
  width: 430px;
  height: 450px;
  background: rgba(0, 0, 0, 0.6);
}

.card_content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 350px;
  height: 400px;
  margin-right: auto;
  margin-bottom: 50px;
  margin-left: auto;
  padding-top: 50px;
}

.lots_card_title {
  color: #fff;
  font-weight: 700;
  font-size: 22px;
  font-style: normal;
  line-height: 120%;
  text-decoration: underline 1px;
  text-underline-offset: 3px;
  text-transform: uppercase;
}

.lots_card_text {
  color: #fff;
  font-weight: 400;
  font-size: 20px;
  font-style: normal;
  line-height: 120%;
}

.lots_link {
  margin-left: 40px;
  color: #000;
  font-weight: 400;
  font-size: 20px;
  font-style: normal;
  line-height: normal;
  text-decoration: underline 1px;
  text-underline-offset: 5px;
}

.about {
  display: flex;
  width: 1340px;
  height: 487px;
  margin-top: 180px;
  margin-right: auto;
  margin-left: auto;
}

.circle {
  display: flex;
  width: 240px;
  height: 240px;
  margin-left: 95px;
  border-radius: 50%;
  background-color: black;
}

.logo_about {
  width: 148px;
  height: 114px;
  margin: auto;
}

.about_column {
  width: 885px;
  height: 387px;
  margin-top: 100px;
  margin-left: 120px;
}

.about_text1 {
  width: 885px;
  height: 96px;
  margin-top: 100px;
  color: #000;
  font-weight: 400;
  font-size: 20px;
  font-style: normal;
  line-height: normal;
}

.about_text2 {
  width: 885px;
  height: 119px;
  margin-top: 25px;
  color: #000;
  font-weight: 400;
  font-size: 20px;
  font-style: normal;
  line-height: normal;
}

footer {
  display: flex;
  justify-content: space-between;
  width: 1340px;
  height: 97px;
  margin-top: 182px;
  margin-right: auto;
  margin-bottom: 90px;
  margin-left: auto;
  color: #000;
  font-weight: 400;
  font-size: 18px;
  font-style: normal;
  line-height: 24.3px;
}

.footer_menu {
  width: 149px;
  height: 64px;
}

.footer_list {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-underline-offset: 4px;
  list-style-type: none;
}

.footer_list_content {
  height: 21px;
}

.footer_list_first {
  text-decoration: none;
}

.socials {
  display: flex;
  justify-content: space-between;
  width: 240px;
  height: 48px;
}

.social_logo {
  width: 48px;
  height: 48px;
}
